
@{
    ViewBag.Title = "Index";
}
@section Head{
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}
<h2>BI Reports</h2>
<div id="myDiv">

</div>

@section Scripts {
    <script>
        var data = [{
            values: [19, 26, 55],
            labels: ['Residential', 'Non-Residential', 'Utility'],
            type: 'pie'
        }];

        var layout = {
            height: 400,
            width: 500
        };

        Plotly.newPlot('myDiv', data, layout);

        var dataDictionary = {};
        function getData() {

            dataDictionary = {};

            var getDataUrl = "@Url.Action("PopularityData")";

            $.getJSON(getDataUrl, function (data) {
                for (var prop in data) {
                    if (data.hasOwnProperty(prop)) {
                        dataDictionary[prop] = data[prop];
                    }
                }
            });
        }

        $(document).ready(function () { getData(); });

    </script>
    }
