
@{
    ViewBag.Title = "Index";
}
@section Head{
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}
<h2>BI Reports</h2>
<h4>Month Over Month Popularity</h4>
<div id="chart">

</div>

@section Scripts {
    <script>

        function Feedback(monthly) {

            var layout = { barmode: 'group' };

            Plotly.newPlot('chart', monthly, layout);
        }
        var dataDictionary = {};
        function getData() {

            dataDictionary = {};

            var getDataUrl = "@Url.Action("PopularityData")";

            $.getJSON(getDataUrl, function (data) {
                dataDictionary = data;
                Feedback(dataDictionary);

            });
        }

        $(document).ready(function () { getData(); });

    </script>
}
