
@{
    ViewBag.Title = "Index";
}
@section Head{
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
}
<h2>BI Reports</h2>
<div class="row">
    <div class="col-lg-8">
        <h4>Month Over Month Branch Popularity</h4>
        <div id="chart">
        </div>
    </div>
    <div class="col-lg-4">
        <h4>Overall Branch Popularity</h4>
        <div id="chart2">
        </div>
    </div>
    <div class="col-lg-12">
        <h4>Item Popularity</h4>
        <div id="chart3">
        </div>
    </div>
</div>

@section Scripts {
    <script>

        function MonthylFeedback(monthly) {

            var layout = { barmode: 'group' };

            Plotly.newPlot('chart', monthly, layout);
        }
        function getMonthlyData() {

            dataDictionary = {};

            var getDataUrl = "@Url.Action("MonthlyPopularityData")";

            $.getJSON(getDataUrl, function (data) {
                MonthylFeedback(data);
            });
        }

        function overallFeedback(overall) {

            Plotly.newPlot('chart2', overall);
        }

        function getOverallData() {

            dataDictionary = {};

            var getDataUrl = "@Url.Action("OverallPopularityData")";

            $.getJSON(getDataUrl, function (data) {
                overallFeedback(data);

            });
        }

                function itemPopularity(items) {

            Plotly.newPlot('chart3', items);
        }

        function getItemPopularity() {

            dataDictionary = {};

            var getDataUrl = "@Url.Action("ItemPopularity")";

            $.getJSON(getDataUrl, function (data) {
                itemPopularity(data);

            });
        }

        $(document).ready(function () {
            getMonthlyData();
            getOverallData();
            getItemPopularity();
        });

    </script>
}
