@model HalifaxDine.Models.BranchModel
@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>

<address>
    @Html.DisplayFor(model => model.Branch_Description)<br />
    @Html.DisplayFor(model => model.Branch_City)<br />
    @Html.DisplayFor(model => model.Branch_Province)<br />
</address>

