@{
    ViewBag.Title = "Function";
}

<h2>@ViewBag.Title.</h2> 

    <table width="100%" >
        <tr> 
            <td width="50%", valign="top">

                </td>

            <td width="50%" , valign="top">


            </td>

    </table>














<p>Use this area to provide additional information.</p>
