@{
    ViewBag.Title = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        body {
            font: 20px Montserrat, sans-serif;
            line-height: 1.8;
            color: #f5f6f7;
        }

        p {
            font-size: 16px;
        }

        .margin {
            margin-bottom: 45px;
        }

        .bg-1 {
            background-color: #1abc9c; /* Green */
            color: #ffffff;
        }

        .bg-2 {
            background-color: #474e5d; /* Dark Blue */
            color: #ffffff;
        }

        .bg-3 {
            background-color: #ffffff; /* White */
            color: #555555;
        }

        .container-fluid {
            padding-top: 70px;
            padding-bottom: 70px;
        }
    </style>
</head>
<body>

    <!-- First Container -->
    <div class="container-fluid bg-1 text-center">
        <img src="/images/title.png" class="img-responsive img-circle margin" style="display:inline" width="800" height="800">
    </div>

    <!-- Second Container -->
    <div class="container-fluid bg-2 text-center">
        <h3 class="margin">BRANCH</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. </p>
        <a href="#" class="btn btn-default btn-lg">
            <span class="glyphicon glyphicon-search"></span> Search
        </a>
    </div>

    <!-- Third Container (Grid) -->
    <div class="container-fluid bg-3 text-center">
        <h3 class="margin">MENU</h3><br>

        <div class="row">
            <div class="col-sm-4">
                <p>Seafood Platter | Dinner.</p>
                <p>Seasonally fresh sea food, chef paired condiments.</p>
                <img src="/images/f2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Chowder | Dinnerr</p>
                <p>Lobster cream, scallops, halibut, lobster, haddock.</p>
                <img src="/images/f2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Beef, Bacon & Bleu | Dinner</p>
                <p>Pepper port reduction, candied onions, maple balsamic reduction.</p>
                <img src="/images/f2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Steam Buns</p>
                <p>Braised pork, hoisin, green onion, pickled seasonal vegetables</p>
                <img src="/images/f2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Charcuterie Board | Dinner</p>
                <p>Daily selection of charcuterie, house breads and condiments.</p>
                <img src="/images/f2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>
            <div class="col-sm-4">
                <p>Scallop Ceviche | Dinner</p>
                <p>Poblano, Tomato, red onion, cilantro, rice chip</p>
                <img src="/images/f2.jpg" class="img-responsive margin" style="width:100%" alt="Image">
            </div>


        </div>
    </div>

    <footer>
        <p>&copy; @DateTime.Now.Year - HalifaxDine Application</p>

    </footer>

</body>
</html>